<form class='dialog'>
  <div class="caption" *ngIf="caption">{{caption}}</div>
  <div class="optionbox date" *ngIf="!showCalendar && options && options.length">
    <button class="option date" *ngFor="let option of options" (click)="onOption(option)" [ngClass]="{special : option.special}">
      <label *ngIf="option.caption">{{option.caption}}</label>
      <label *ngIf="!option.caption && option.date">{{option.date | amLocale:"nl" | amDateFormat: "dddd" | titlecase}}</label><br>
      <label class="subtext" *ngIf="option.date">{{option.date | amLocale:"nl" | amDateFormat: "ddd D MMMM"}}</label></button>
  </div>
  <div class="calendar" *ngIf="showCalendar">

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Kies een datum" (dateChange)="calendarEvent('change', $event)">
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <mat-datepicker #picker opened="true"></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="buttons">
    <button (click)="cancel()" class='cancel'>Annuleren</button>
  </div>
</form>
