form.dialog {
  padding : 0px;
}

.caption {
  color: white;
  background-color: black;
  margin-top: 0px;
}

button {
  margin-left : 5px;
  margin-right : 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin : 10px;
}

.optionbox {
  background-color : lightcyan;
  justify-content: center;
  display : flex;
  padding-top : 10px;
  padding-bottom : 10px;
  margin-left : 10px;
  margin-right : 10px;
  flex-wrap: wrap;
  border-style : dashed;
  border-width : 1px;
  border-color : darkturquoise;
}

button.option.special {
  background-color : SteelBlue;
}

button.option.special:hover {
  background-color : yellow;
}

div.calendar {
  height : 400px;
}


@media screen and (min-width: 300px) {
  .caption {
    font-size: 1.25em;
    height: 24px;
    padding: 4px;
  }

  .message {
    padding : 8px;
    min-height : 40px;
  }

  button.option.date {
    width : 80px;
    height : 32px;
    margin : 4px;
    font-size : 0.8em;
  }

  label.subtext {
    font-size : 0.6em;
  }

  .optionbox.date {
    padding-top : 4px;
    padding-bottom : 4px;
    margin-top : 10px;
  }
}

@media screen and (min-width: 1024px) {
  .caption {
    font-size: 1.75em;
    height: 36px;
    padding: 8px;
  }

  .message {
    padding : 16px;
    min-height : 100px;
  }

  button.option.date {
    width : 125px;
    height : 50px;
    margin : 10px;
    font-size : 1em;
  }

  label.subtext {
    font-size : 0.75em;
  }


  .optionbox.date {
    padding-top : 10px;
    padding-bottom : 10px;
    margin-top : 10px;

  }
}
