<h1>WAAR WILT U RESERVEREN?</h1>
<div *ngFor="let adm of administrations()" (click)="selectAdministration(adm)" style="display: table; width: 100%;">
  <div style="color: blue; height: 50px; display: table-cell; vertical-align: middle;">{{adm.name}}</div>
</div>
