<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div *ngIf="administration()">
                    <nav>
                      <a *ngIf="relation().code" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                      <span *ngIf="relation().code">
                <!--        <a *ngFor="let accommodation of accommodations()" (click)="selectAccommodation(accommodation)">{{accommodation.nameFull}}</a> -->
                        <a *ngFor="let accommodation of accommodations()" [routerLink]="['/planner', accommodation.nameShort]" routerLinkActive="active">{{accommodation.nameFull}}</a>
                      </span>
                    </nav>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
