<div *ngIf='!user().code' class="login">
  <div class="header">{{caption()}}</div>
  <div *ngIf="mode=='login' || mode=='activate'" class="body">
    <div><label>E-mail</label><input type="email" [(ngModel)]="user().email" /></div>
    <div><label>Wachtwoord</label><input type="password" [(ngModel)]="user().password" (keyup.enter)="login()" /></div>
    <button (click)="login()">{{buttonCaption()}}</button>
  </div>

  <div *ngIf="mode=='resetPassword'" class="body">
    <div class="resetPassword">Laten we een nieuw wachtwoord instellen voor: <span class="email"> {{user().email}} </span></div>
    <div><label>Wachtwoord</label><input type="password" [ngClass]="{invalid : !isValidPassword(user().password)}" [(ngModel)]="user().password" ></div>
    <div *ngIf="!isValidPassword(user().password)" class="warning">minimaal 8 karakters</div>
    <div><label>Opnieuw</label><input type="password" [ngClass]="{invalid : !isSamePassword(user().password, user().passwordConfirm)}" [(ngModel)]="user().passwordConfirm" (keyup.enter)="resetPassword()" ></div>
    <div *ngIf="!isSamePassword(user().password, user().passwordConfirm)" class="warning">wachtwoord is niet hetzelfde</div>
    <button [disabled]="!user().password || !isValidPassword(user().password) || !isSamePassword(user().password, user().passwordConfirm)" (click)="resetPassword()">{{buttonCaption()}}</button>
  </div>

  <div *ngIf="mode=='new'" class="newuser">
    <div id="new-name"><label>Voornaam</label><input [(ngModel)]="newUser.firstName" /></div>
    <div><label>Achternaam</label><input [(ngModel)]="newUser.familyName" required /></div>
    <div id="new-name"><label>E-mail</label><input type="email" [(ngModel)]="newUser.email" required /></div>
    <div><label>Toegangscode</label><input type="password" [(ngModel)]="newUser.password" required /></div>
    <div><label>Herhaal</label><input type="password" [(ngModel)]="newUser.passwordCheck" required /></div>
    <button (click)="addNewUser(newUser)">Registreren</button>
  </div>
<!--  <button (click)="test()">Test</button> -->

  <div class="flex-container" *ngIf="mode=='login'">
    <label id="lostpassword" (click)="lostPassword()">wachtwoord vergeten</label>
    <label id="newuser" (click)="goNewUser()">nieuwe gebruiker</label>
  </div>

  <div *ngIf="mode=='password'" class="lostpassword">
    Oei vervelend, laten we een oplossing zoeken<br><br>
    Voer uw e-mail adres in en druk op de Reset-knop<br>

    <input type="email" [(ngModel)]="user().email" class="lostpassword">
    <div class="flex-container" class="lostpassword">
      <button (click)="sendLostPassword(user().email)">Reset</button>
    </div>
  </div>

  <div *ngIf="mode!='login' && mode!='activate'"><span><label id="back" (click)="goBack()">annuleren</label></span></div>
</div>

<div *ngIf='user().code'>
  <h3>Mijn gegevens</h3>
  Hallo {{user().name}}
  <label (click)="logout()" class="logout">uitloggen</label>
</div>

<div *ngIf="errorCode" class="warning">
  {{message}}
  <div *ngIf="errorCode==4 || errorCode==11">
    <button (click)="resendActivation()">opnieuw versturen</button>
  </div>
</div>
