#back {
  width : 95%;
  color : red;
}

#lostpassword {
  width : 45%;
  color : red;
}

span.email {
  color : blue;
}

#newuser {
  width : 45%;
  color : blue;
}

#lostpassword,#newuser,#back {
  text-align: center;
  font-size: 0.75em;
  margin: 40px 2% 10px 2%;
}

#lostpassword:hover,#newuser:hover,#back:hover{
  cursor: pointer;
}

input.invalid {
  border-color: red;
  border-width: 4px;
}

div.lostpassword {
  padding : 10px;
  width : 100%;
}

div.lostpassword input.lostpassword {
  width : 100%;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

div.login {
  border-style: solid;
  border-width: 1px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.login div.header {
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
}

div.warning {
  margin : auto;
  background-color : #ff4d4d;
  color : white;
  padding: 10px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
}

div.warning label {
  margin-top: 20px;
}

label.logout {
  color: blue;
  float: right;
  cursor: pointer;
}

#new-name {
  margin: 25px 0 10px 0;
}

@media screen and (min-width: 300px) {
  div.login {
    width: 90%;
    margin: auto;
    margin-top: 10%;
  }

  div.login div.body, div.login div.newuser {
    padding: 10px 10px 10px 10px;
  }

  div.login label {
    font-size: 1em;
    display: inline-block;
    width : 100px;
    text-align: right;
    color: grey;
  }

  div.login div input {
    width: 175px;
    position: relative;
    left: 10px;
    padding: 4px;
  }

  div.lostpassword input.lostpassword {
    width : 100%;
  }

  div.login button {
    font-size: 1.2em;
    position: relative;
    top: 20px;
    width: 150px;
    height: 40px;
    margin: auto;
    display: block;
  }

  div.warning {
    width: 85%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  div.login {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  div.login div.body,div login div.newuser {
    padding: 25px 25px 5px 25px;
  }

  div.login label {
    font-size: 1.2em;
    display: inline-block;
    width : 125px;
    text-align: right;
    color: grey;
  }

  div.login div input {
    width: 200px;
    position: relative;
    left: 25px;
    padding: 4px;
  }

  div.login div.warning {
    width : 100%;
    text-align : right;
    background-color: white;
    color : red;
    padding: 0px;
    height: 15px;
    position: relative;
    top: -20px;
  }

  div.login div.lostpassword {
    width : 100%;
  }

  div.login div.lostpassword input.lostpassword {
    width : 90%;
    left : 0px;
  }

  div.login div.body div,div.login div.newuser div {
    margin-bottom: 10px;
  }

  div.login button {
    font-size: 1.5em;
    position: relative;
    top: 0px;
    margin: 20px 0 20px 0;
    width: 200px;
    height: 50px;
    left: 150px;
    display: inline;
  }

  div.warning {
    width : 400px;
    font-size: 0.8em;
  }
}
