<form class="add">
  <h1>{{selectedDate()}} - {{startTime()}} tot {{endTime()}} uur</h1>
  <h2>{{getModeCaption(mode)}} <span *ngIf="mode != 'participant'">op baan {{selectedRooms()}} <span id="more" *ngIf="allowMore() && !(mode=='menu')" (click)="more()">Of...</span></span></h2>

  <button id="cancelGroup" *ngIf="showCancelGroup()">Groepsles Annuleren</button>

<!-- activiteit -->
  <div *ngIf="mode=='individual' || mode=='group'" style="margin-top:10px;">
    <mat-select id="activity" name="activity" placeholder="Kies de activiteit" style.color="{{selectedActivity ? selectedActivity.fontColor : black}}" style.background-color="{{selectedActivity ? selectedActivity.backColor : white}}" [(ngModel)]="selectedActivity">
      <mat-option *ngFor="let activity of getActivities(mode)" [value]="activity" (click)="selectActivity(activity)" style.color="{{activity.fontColor}}" style.background-color="{{activity.backColor}}">{{activity.name}}</mat-option>
    </mat-select>
  </div>

  
<!-- instructeurs -->
  <div *ngIf="mode=='group' && selectedActivity && instructors.length" style="margin-top:10px;">
    <mat-select placeholder="Instructeur" id="instructor">
      <mat-option *ngFor="let instructor of instructors" [value]="instructor ? instructor.name : 'onbekend'" (click)="selectInstructor(instructor)">{{instructor ? instructor.name : 'onbekend'}}</mat-option>
    </mat-select>

    <div>
      min. <mat-slider [min]="1" [max]="12" [step]="1" [(ngModel)]="selectedActivity.minAttendees" name="minimum"></mat-slider>
      max. <mat-slider [min]="1" [max]="12" [step]="1" [(ngModel)]="selectedActivity.maxAttendees" name="maximum"></mat-slider> 
      Aantal deelnemers <label style="font-size:1.5em">({{selectedActivity.minAttendees}}-{{selectedActivity.maxAttendees}})</label><BR><BR>
    </div>
  </div>

  <!-- deelnemers -->
  <div *ngIf="showAttendees()" class="container" id="attendees">
    <div>
      <!--
        <h2 id="participantCaption">Deelnemers
          <span *ngIf="selectedActivity && mode!='participant'">({{attendees.length}} / {{selectedActivity.maxAttendees}})</span>
        </h2>
      -->
      <div class="addAttendee" *ngIf="mode=='participant' || attendees.length < (selectedActivity ? selectedActivity.maxAttendees : 1)">
        <mat-form-field class="addAttendee" class="relation-select">
          <input matInput placeholder="Voeg deelnemer toe" aria-label="Toevoegen" [matAutocomplete]="auto" [formControl]="attendeeCtrl">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayNull">
            <mat-option *ngFor="let attendee of filteredAttendees | async" [value]="attendee.name" (onSelectionChange)="selectAttendee($event, attendee)">
              <span>{{ attendee.name }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button class="info" (click)="showAddParticipantInfo()">i<span class="tooltip">Is de deelnemer niet bekend, kies dan 'Introducee'</span></button>
      </div>
    </div>

    <div class="participants">
      <div *ngFor="let attendee of attendees" class="attendee">{{attendee.name}}<button *ngIf="allowDeleteParticipant(attendee)" class="delete" (click)="deleteAttendee(attendee)"></button></div>
    </div>
  </div>

  <div *ngIf="mode=='menu'">
    <h3 (click)="setMode('individual')" class="option">Reserveren</h3>
    <h3 *ngIf="user().hasRight('CreatePrimeTime')" (click)="setMode('prime')" class="option">Piek Uren</h3>
    <h3 *ngIf="user().hasRight('CreateHappyHour')" (click)="setMode('discount')" class="option">Happy Hour</h3>
    <h3 *ngIf="user().hasRight('CreateGroupBooking')" (click)="setMode('group')" class="option">Groepsles</h3>
    <h3 *ngIf="user().hasRight('CreateClosing')" (click)="setMode('closure')" class="option">Baan sluiten</h3>
  </div>


  <div *ngIf="!(mode=='menu')">

    <div class="add-buttons">
      <label class="warning" *ngIf="attendeeWarning">{{attendeeWarning}}</label>

      <div *ngIf="false" class="add-price"><button (click)="getPrice()" >{{price ? price : "Prijs?" }}</button></div>
      <button (click)="cancel()" >Annuleren</button>
      <button mat-raised-button (click)="save()" [disabled]="!canSave()">{{getSaveCaption(mode)}}</button>
    </div>
  </div>
</form>
