div.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

time {
  font-weight: bold;
}

@media screen and (min-width: 300px) {
}

@media screen and (min-width: 1024px) {
}
