form.add {
  padding : 4px;
}

#more {
  float : right;
}

div.participants > div.attendee:nth-of-type(even) {
  background: LightCyan;
}

#attendees {
  width : 95;
  border-style: solid;
  border-width: 2px;
  border-color: Navy;
  padding: 2%;
}

#cancelGroup {
  width : 200px;
  margin : auto;
  margin-bottom : 20px;
  background-color : red;
  color : white;
}

#cancelGroup:hover {
  background-color : yellow;
  color : black;
}

#participantCaption {
  margin : 0px;
  margin-bottom : 20px;
}

button.delete {
  background-color: white;
  background-image: url( '/assets/delete.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  position: relative;
  margin: 0px;
}

div.participants {
  display : block;
}

div.attendee {
  position: relative;
  width: 96%;
}

div.addAttendee button {
  position : relative;
  float : right;
  border-radius: 50%
}

div.add-buttons button {
  position : relative;
  float: right;
}

.info .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size : 0.80em;
    padding: 5px 0;

    /* Position the tooltip */
    position: relative;
    z-index: 1;
    float: right;
}

.info:hover .tooltip {
    visibility: visible;
}

@media screen and (min-width: 300px) {
  button.delete {
    height: 16px;
    width: 16px;
    right: -8px;
    top: -2px;
  }

  div.attendee {
    height: 16px;
    padding: 4px;
    line-height: 12px;
    margin-bottom: 2px;
    font-size: 12px;
  }


  div.addAttendee {
    font-size: 0.75em;
  }

  div.participants {
    margin-top : 4px;
  }

  #activity, #instructor {
    margin: 0px 0px 4px 0px;
  }

  label.warning {
    font-size : 0.5em;
    float: left;
    line-height: 36px;
    vertical-align: middle;
    margin-left: 4px;
  }

  .info .tooltip {
    width : 200px;
  }

  div.addAttendee mat-form-field {
    width : 85%;
  }

  div.addAttendee button {
    width : 24px;
    height : 24px;
  }
}


@media screen and (min-width: 1024px) {
  form.add {
    padding : 20px;
  }

  button.delete {
    float: right;
    height: 24px;
    width: 24px;
    right : -20px;
    top: -1px;
  }

  div.attendee {
    height: 24px;
    padding: 4px;
    line-height: 20px;
    margin-bottom: 4px;
    font-size: 100%;
  }

  div.addAttendee {
    font-size : 1.5em;
  }

  #activity, #instructor {
    margin: 10px 0px 10px 0px;
    font-size : 1.5em;
  }

  div.participants {
    margin-top : 20px;
  }

  label.warning {
    font-size : 90%;
    float: left;
    line-height: 46px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .info .tooltip {
    width : 300px;
  }

  div.addAttendee mat-form-field {
    width : 90%;
  }

  div.addAttendee button {
    width : 32px;
    height : 32px;
  }
}
