<div *ngIf="mode=='menu'">
  <h2 (click)="edit()">Verplaatsen / Kopiëren...</h2>
  <h2 (click)="delete()">Verwijderen</h2>
  <h2 (click)="cancel()" style="color:red">Annuleren</h2>
</div>

<div *ngIf="mode=='edit' || mode=='date' || mode=='time'">
  <h1>Boeking verplaatsen</h1>
  <h3>{{selectedBooking()}}</h3>

  <div *ngIf="mode=='date'">
    <input matInput [matDatepicker]="dp" placeholder="Different locale" [ngModel]="selectedDate" [min]="plannerService.minDate" (dateChange)="selectDate($event)" disabled>

    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp disabled="false"></mat-datepicker>
  </div>

  <div *ngIf="mode=='edit'">
    <button (click)="goSelectDate()"><img src="assets/calendar.png" /></button>
    <button (click)="goSelectTime()"><img src="assets/time.png" /></button>
  </div>
</div>
