<form>
  <div class="container">
    <h1>{{caption()}}</h1>
    <h2>{{data.source.caption}}</h2><br>
    Van:<br>
    <time>{{data.source.timeStart | amLocale:"nl" | amDateFormat: "dddd D MMMM YYYY HH:mm"}} - baan {{data.source.room.number}}<br></time>
    <br>
    Naar:<br>
    <time>{{data.destination.timeStart | amLocale:"nl" | amDateFormat: "dddd D MMMM YYYY HH:mm"}} -  baan {{data.destination.room.number}}</time>
    <div class="buttons">
      <button (click)="save()">{{buttonCaption()}}</button>
      <button (click)="cancel()" class="cancel">Annuleren</button>
    </div>
  </div>
</form>
