.dialog {
  max-width: 90vw;
}

.mat-dialog-container {
  max-width: none;
}

div.buttons.hint {
  margin : 0px;
}

table {
    width: 100%; 
    background-color: white;
    border-collapse: collapse;
}
table tr:nth-child {
    background-color: #eee;
}
table th {
    color: white;
    background-color: black;
		border-style: solid;
		border-color: white;
		border-width: 1px;
    min-width:80px;
}

table td {
	color: white;
	text-align: center;
	width: 8.33%;
	border-style: solid;
	border-color: white;
	border-width: 1px;
  min-width:80px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

span {
  border-collapse: collapse;
  border-style: none;
	border-width: 0px;
}

table td.time {
	font-size: 75%;
	color: black;
	background-color: white;
  border-color: white black white black;
	border-width: 0px 1px 0px 1px;
  width: 3%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

table td.time.hour {
	font-size: 100%;
}

table td.time.start {
	border-color: black black white black;
  border-width: 1px 1px 0px 1px;
}

table th.selected {
  color: red;
  background-color: yellow;
}

table td.time.selected {
  color: red;
  background-color: yellow;
}

table td.selected {
  color: black;
  background-color: yellow;
}

table td.target {
  border-style: dashed;
  border-width: 10px;
  border-color: orange;
}

table td.history {
  background-color: lightgray;
}

table td.history.booking {
  background-color: purple;
}

table td.selectedBooking {
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
}

table td.partial {
  background: repeating-linear-gradient(
    135deg,
    deepskyblue,
    deepskyblue 2px,
    lightskyblue 2px,
    lightskyblue 10px
  );
}

table td.partial.member {
  background: repeating-linear-gradient(
    135deg,
    mediumturquoise,
    mediumturquoise 2px,
    paleturquoise 2px,
    paleturquoise 10px
  );
}

table td.partial.booking {
  font-weight: bold;
  color: yellow;
  background: repeating-linear-gradient(
    135deg,
    lightskyblue,
    lightskyblue 2px,
    purple 2px,
    purple 10px
  );
}

table td.partial.member.booking {
  font-weight: bold;
  color: yellow;
  background: repeating-linear-gradient(
    135deg,
    paleturquoise,
    paleturquoise 1px,
    purple 1px,
    purple 10px
  );
}

table td:hover {
  color : black;
  background-color: yellow !important;
}

table td.partial:hover,table td.partial.member.selected,table td.partial.selected {
  background: repeating-linear-gradient(
    135deg,
    yellow,
    yellow 2px,
    burlywood 2px,
    burlywood 10px
  );
}

table td.partial.booking:hover,table td.partial.member.booking.selected,table td.partial.booking.selected {
  font-weight: bold;
  color: black;
  background: repeating-linear-gradient(
    135deg,
    yellow,
    yellow 1px,
    burlywood 1px,
    burlywood 10px
  );
}

table td.partial.history {
  background: repeating-linear-gradient(
    135deg,
    darkgray,
    darkgray 2px,
    lightgray 2px,
    lightgray 10px
  );
}

span.time {
  font-size: 1.25em;
}

span.relation {
  color: yellow;
  font-size: 0.75em;
}

span.group {
  font-size: 0.8em;
  color : red;
  background-color : white;
}

div.group {
  height : 20px;
  text-align: left;
}

div.flex {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

div.participant {
  color : fuchsia;
  background-color : white;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  vertical-align: middle;
  font-size: 0.75em;
  width: 100%;
  margin: 1px;
  text-overflow: clip;
  overflow: hidden;
}

div.relation {
  width : 100%;
  text-align : center;
}

div.participant:hover {
  color : red;
  background-color : yellow;
}

.info {
  border-radius: 0px;
  color: black;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  text-align: center;
  vertical-align: middle;
  position: fixed;
}

#hint {
  color : white;
  background-color : yellow;
 /* background-color : yellow; */
}


#setupButton {
  background-color: LightCyan;
  background-image: url( '/assets/setup.png');
  background-repeat: no-repeat;
  background-position: center; 
  position: absolute;
  right: 2em;
}

#setupButton.selected {
  background-color : yellow;
}

#setupContainer {
  color : white;
  background-color : grey;
  height : 133px;
  width : 100%;
}

label.subscription {
  color : yellow;
  font-size : 1.5em;
}

div.status {
  border-radius: 50%;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  line-height: 20px;
  float: left;
  width : 20px;
  height : 20px;
  display: inline;
}

div.status.expected {
  background-color : darkorange;
}

div.status.arrived {
  background-color : green;
}


@media screen and (min-width: 300px) {
  #header {
    font-size: 50%;
    width: 100%;
  }

  #hint {
    height: 75px;
    width: 100%;
    background-color : orange;
    color : black;
  }

  table td {
    padding: 0px;
    min-width : 12px;
    font-size : 0.05em;
  }

  table th {
    min-width : 12px;
    font-size : 0.05em;
  }

  table td.time {
    font-size : 0.0375em;
  }

  table td.time.hour {
    font-size : 0.05em;
  }

  mat-slide-toggle {
    font-size: 50%;
  }

  div.participant {
    height: 10px;
    line-height: 10px;
  }

  #setupButton {
    height: 32px;
    width: 32px;
    background-size: 30px 30px;
  }

  .info {
    width: 100%;
    font-size: 0.75em;
    left: 0px;
    top : 0px;
    color : black;
    line-height: 20px;
  }


  table td.selectedBooking {
    border-width: 2px;
  }

  table td.target {
    border-width: 2px;
  }

}

@media screen and (min-width: 1024px) {
  #header {
    font-size: 100%;
  }

  table td {
    padding: 0px 8px 0px 8px;
    min-width : 80px;
    font-size : 100%;
  }

  table th {
    min-width : 80px;
    font-size : 100%;
  }

  table td.time {
    font-size : 75%;
  }

  table td.time.hour {
    font-size : 100%;
  }

  mat-slide-toggle {
    font-size: 100%;
  }

  div.participant {
    height: 20px;
    line-height: 20px;
    border-width: 1px;
  }

  #setupButton {
    top: 28px;
    height: 40px;
    width: 40px;
    background-size: 35px 35px;
  }

  .info {
    font-size : 1.2em;
    width: 100%;
    height: 24x;
    line-height: 24px;
  }

  #hint {
    height: 100px;
  }

   table td.selectedBooking {
    border-width: 10px;
  }

  table td.target {
    border-width: 10px;
  }

}
