<div id="header" *ngIf="plannerService.user.code && plannerService.mode != 'add'">
  <input matInput [matDatepicker]="dp" placeholder="Different locale" [ngModel]="plannerService.selectedDate" [min]="plannerService.minDate" disabled (dateChange)="selectDate($event)" style="font-size: 100%;">

  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false"></mat-datepicker>

  <button id="setupButton" (click)="toggleSetup()" [ngClass]="{'selected': isSetup}"></button>

  <div id="setupContainer" *ngIf="isSetup">
    <mat-slide-toggle *ngIf="rlxDate.isToday(plannerService.selectedDate)" color="primary" [(checked)]="futureOnly" (change)="futureOnlyChange($event)">Vanaf nu</mat-slide-toggle>
    <mat-slide-toggle color="primary" [(checked)]="accommodation().showTimeLineLeft" (change)="timeLineLeftChange($event)">Tijdbalk links</mat-slide-toggle><br>
    <mat-slide-toggle color="primary" [(checked)]="accommodation().showTimeLineRight" (change)="timeLineRightChange($event)">Tijdbalk rechts</mat-slide-toggle><br>
    <mat-slide-toggle color="primary" [(checked)]="accommodation().showTimeLineShift" (change)="timeLineShiftChange($event)">Tijdbalk midden</mat-slide-toggle><br>
  </div>

  <div *ngIf="isLoading">
    <mat-progress-spinner 
        color="warn"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>

<div *ngIf="isDebug">
  Tijdlijn seconden <input [(ngModel)]="seconds"><button (click)="setSeconds(seconds)">Ververs</button>
  <div>Baan <input [(ngModel)]="debugObject">  Tijdstip <input [(ngModel)]="debugTime"></div>

  setColors: {{setColorsCount}}  getColor: {{getColorCount}}  isVisible: {{isVisibleCount}}  isSelected: {{hoverItem && hoverItem.isSelected}}
</div>

<!-- planner nieuwe stijl -->
<table style="width:100%" *ngIf="!isLoading" ondragstart="return false;" ondrop="return false;">
  <thead>
    <tr>
      <th *ngIf="accommodation().showTimeLineLeft" [ngClass]="{'time': true}" (dblclick)="toggleDebug()" style="color: red">{{debugCaption()}}</th>
      <ng-container *ngFor="let group of roomGroups" style="padding: 10px 10px 0px 0px;">
        <th *ngIf="showTimeLine(group)" [ngClass]="{'time': true}"></th>
        <th *ngFor="let room of group.rooms" [ngClass]="{'selected': roomSelected(room)}">
          {{room.name}} <span *ngIf="room.member"> (leden)</span>
        </th>
      </ng-container>

      <th *ngIf="accommodation().showTimeLineRight" [ngClass]="{'time': true}"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of times">
      <td *ngIf="accommodation().showTimeLineLeft" [ngClass]="{'time': true, 'hour': isHour(time.time), 'start': isStart(roomGroups[0].rooms[0], time.time), 'selected': timeSelected(time.time)}">{{getCaption(time.time)}}</td>
      <ng-container *ngFor="let group of roomGroups">
        <td *ngIf="showTimeLine(group)" [ngClass]="{'time': true, 'hour': isHour(time.time), 'start': isStart(group.rooms[0], time.time), 'selected': timeSelected(time.time)}">{{getCaption(time.time)}}</td>

        <ng-container *ngFor="let item of time.items">
          <td *ngIf="isPartOfGroup(item.room, group)" 
             (contextmenu)="contextMenu($event, item)"
             (mouseover)="over(item)"
             (mousedown)="mousedown($event, item)"
             (mouseup)="mouseup($event, item)"
             (click)="selectBooking(item)"
             [ngStyle]="{'background-color': item.color}"
             [ngClass]="{'partial': item.isPartial, 'selected': item.isSelected, 'selectedBooking' : item == selectedBooking, 'member': item.room.member, 'booking': item.reservation, 'history': item.isHistory, 'target': item == targetItem}"
             [attr.rowspan]="item.rowSpan"
             [attr.colspan]="item.colSpan">
              <div *ngIf="isDebug">baan {{item.room.number}} {{item.timeString}}</div>
              <div class="group" *ngIf="item.isGroup" style="width:100%">
                <span class="group">Groepsles<br></span>
              </div>
              <div *ngIf="item.showTime || isSelected(item) || item == targetItem"><span class="time">{{item.timeString}}</span>
                <div *ngIf="item.reservation && plannerService.user.hasRight('showReservations')" [ngClass]="{'status' : true, 'expected' : item.status == 1, 'arrived' : item.status == 3}" (click)="bookingArrived(item)">{{item.statusCode}}</div>
              </div>
              <ng-container>
                <span *ngIf="item.isGroup" (click)='displayParticipants(item)'>{{item.participants.length}} deelnemer(s)</span>
                <div *ngIf="allowShowParticipants(item)">
                  <ng-container *ngFor="let participant of item.participants | slice:0:99; let i=index">
                    <div *ngIf="i % item.colSpan == 0" class="flex">
                      <ng-container *ngFor="let participant of item.participants | slice:0:99; let j=index">
<!--                        <div *ngIf="j >= i && j < (i + item.colSpan)" [ngClass]="{'participant' : item.isGroup, 'relation' : !item.isGroup}" (click)="selectRelation($event, participant.code)">{{participant.name}}</div>-->
                        <div *ngIf="j >= i && j < (i + item.colSpan)" [ngClass]="{'participant' : true}" (click)="selectRelation($event, participant.code)"><label class="participantName">{{participant.name}}</label><label class="participantFunction">{{participant.function}}</label> </div>
                      </ng-container>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="item.isGroup && !allowShowParticipants(item)">
                  <label class='subscription' *ngIf="isParticipant(item, plannerService.user.code)">AANGEMELD</label>
                </div>
                <div *ngIf="!item.isGroup && !allowShowParticipants(item) && item.participants.length">
                  <label>BEZET</label>
                </div>
              </ng-container>
          </td>
        </ng-container>

      </ng-container>
      <td *ngIf="accommodation().showTimeLineRight" [ngClass]="{'time': true, 'hour': isHour(time.time), 'start': isStart(roomGroups[roomGroups.length - 1].rooms[0], time.time), 'selected': timeSelected(time.time)}">{{getCaption(time.time)}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th *ngIf="accommodation().showTimeLineLeft" [ngClass]="{'time': true}" (dblclick)="toggleDebug()"></th>
      <ng-container *ngFor="let group of roomGroups" style="padding: 10px 10px 0px 0px;">
        <th *ngIf="showTimeLine(group)" [ngClass]="{'time': true}"></th>
        <th *ngFor="let room of group.rooms" [ngClass]="{'selected': roomSelected(room)}">
          {{room.name}} <span *ngIf="room.member"> (leden)</span>
        </th>
      </ng-container>

      <th *ngIf="accommodation().showTimeLineRight" [ngClass]="{'time': true}"></th>
    </tr>
  </tfoot>
 </table>

<div id="header" *ngIf="!plannerService.user.code && plannerService.mode != 'add'">
  <h1 (click)="gotoLogin()">Er is niemand ingelogd...klik hier</h1>
</div>

<div class="info" id="hint" *ngIf="plannerService.mode=='move' || plannerService.mode=='copy'">
  <span *ngIf="!targetItem">Selecteer de plek waar u de boeking wilt plaatsen</span>
  <span *ngIf="targetItem" [innerHtml]="hintText()"></span>
  <div class="buttons hint">
    <button [disabled]="!targetItem" (click)='startMove(targetItem)'>OK</button>
    <button (click)='cancel()' class="cancel">Annuleren</button>
  </div>
</div>

<div class="info" *ngIf="startItem && hoverItem && startItem != hoverItem">
  {{selectionToText()}}
</div>


