<form class='dialog'>
  <div class="caption" *ngIf="caption">{{caption}}</div>
  <div class="message"><span [innerHtml]="message"></span></div>
  <div class="optionbox" *ngIf="options && options.length">
    <button class="option" *ngFor="let option of options" (click)="onOption(parent, option)">{{option.caption}}</button>
  </div>
  <div class="buttons">
    <button *ngFor="let button of buttons" (click)="onClick(button)" [ngClass]="{cancel : button.isCancel}">{{button.caption}}</button>
  </div>
</form>
