@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-dialog-container {
    padding: 0px !important;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
  color: navy;
}

h3.option:hover {
  color: red;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}

button {
  font-family: Arial;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: darkturquoise;
  color: black;
}

button.cancel {
  background-color: LightCoral;
}

button:hover {
  background-color: yellow;
  color: black;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

body {
  background-color: LightCyan;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.warning {
  color : red;
}


@media screen and (min-width: 300px) {
  form {
    font-size : 0.75em;
    padding : 4px;
  }

  body {
    margin: 0 0.2em 0.1em 0.2em;
  }

  h1 {
    font-size: 120%;
    margin : 0 0 10px 0;
  }

  h2 {
    font-size: 105%;
  }

  button {
    height : 25px;
    padding : 2px 4px;
    width : 75px;
    margin : 4px;
  }
}

@media screen and (min-width: 1024px) {
  form {
    font-size :1em;
    padding : 10px;
  }

  h1 {
    font-size: 225%;
    margin-bottom : 20px;
  }

  h2 {
    font-size: 175%;
  }

  h3 {
    font-size: 125%;
  }

  body {
    margin: 0 2em 1em 2em;
  }

  button {
    padding: 5px 10px;
    width : 100px;
    height : 32px;
    margin: 8px;
  }
}
